숫자형

# 숫자형

In [1]:
a = 123

In [2]:
print(a)

123

In [3]:
a

123

In [4]:
b=456

In [7]:
print(a)
print(b)

123
456

In [8]:
a,b

(123, 456)

In [9]:
type(a)

int

In [10]:
a=1.9
a

1.9

In [11]:
type(a)

float

In [12]:
print()

In [13]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [14]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [16]:
num1 = input('숫자를 입력하세요 >>>')

숫자를 입력하세요 >>> 444

In [17]:
type(num1)

str

In [18]:
print(num1)

444

In [19]:
# 박스에 과일을 넣는 작업 중입니다.
# 박스당 들어가는 과일의 갯수와 전체 과일의 갯수를 입력받아서 
# 몇 박스 몇개가 남는지 출력합니다.
# 입력 : 박스당 과일수, 전체 과일수
# 출력 : x박스 x개

In [21]:
total = int(input('전체 과일의 갯수 >>>'))
box_count = int(input('박스당 과일의 갯수 >>>'))
box = total // box_count
count = total % box_count
print(box,'박스, ',count,'개')

전체 과일의 갯수 >>> 200
박스당 과일의 갯수 >>> 8

25 박스,  0 개

## 문자열 자료형

In [22]:
"hello 'ann'"

"hello 'ann'"

In [23]:
'hello "ann"'

'hello "ann"'

In [24]:
'hello 
!!!!'

SyntaxError: EOL while scanning string literal (2832565742.py, line 1)

In [25]:
''' hello
!!!
!!!
'''

' hello\n!!!\n!!!\n'

In [26]:
1 + 'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
'1'+'a'

'1a'

In [28]:
'1'*4

'1111'

In [29]:
a = 'life is too short'
len(a)

17

In [30]:
a = "Life is too short, You need Python"
a

'Life is too short, You need Python'

In [31]:
a[0]

'L'

In [32]:
a[-1]

'n'

In [34]:
a[0:4]

'Life'

In [35]:
a[:4]

'Life'

In [36]:
a[-6:]

'Python'

In [38]:
# 주민등록 번호를 입력받아서 생년월일과 성별을 출력하세요
# 3항 연산자를 이용 ( 조건 ? 참일때 : 거짓일때 )

In [37]:
jumin = '201111-3123123'
jumin[7] == 3 ? "남자":"여자"

SyntaxError: invalid syntax (1018799732.py, line 2)

In [40]:
jumin = input('주민등록번호 입력 >>>')
print('생년월일',jumin[:6])
print('성별','남자' if jumin[7]=='3' else '여자')

주민등록번호 입력 >>> 201111-3123456

생년월일 201111
성별 남자

## 문자열 포매팅

In [41]:
"i eat %d apples." % 3

'i eat 3 apples.'

In [43]:
"i eat %d apples. %s" % (3,"end")

'i eat 3 apples. end'

In [46]:
'i eat {:^10,.2f} apples. {}'.format(321321.123456,'count')

'i eat 321,321.12 apples. count'

In [47]:
name = input('이름을 입력하세요 >>>')
age = input('나이를 입력하세요 >>>')
print('이름은 {}이고, 나이는 {}살입니다.'.format(name,age))

이름을 입력하세요 >>> 홍길동
나이를 입력하세요 >>> 34

이름은 홍길동이고, 나이는 34살입니다.

In [49]:
name = input('이름을 입력하세요 >>>')
age = int(input('나이를 입력하세요 >>>'))
print(f'이름은 {name}이고, 나이는 {age:.1f}살입니다.')

이름을 입력하세요 >>> hong
나이를 입력하세요 >>> 34

이름은 hong이고, 나이는 34.0살입니다.

In [51]:
a = "hobby"
a.count('i')

0

In [52]:
a = "Python is the best choice"
a.find('b') # 인덱스 리턴

14

In [53]:
a.find('k') #글자가 없을 경우 -1리턴

-1

In [54]:
a = "Life is too short"
a.index('t')

8

In [56]:
a.index('k')

ValueError: substring not found

In [57]:
','.join('abcd')

'a,b,c,d'

In [58]:
','.join(['abc','edf','78'])

'abc,edf,78'

In [62]:
a = "Life,is,too,short"
a.split(sep=',')

['Life', 'is', 'too', 'short']

In [66]:
money = True
if money:
    print('taxi')
    print('----')
else:
    print('walk')

taxi
----

In [70]:
if 'money' in ['card','money'] : pass
else:print('카드를 꺼내라')

In [71]:
## 구구단 출력하기
# -2단-
# 2*1=2
# ...

# -3단-
# ....

In [73]:
for i in range(2,10):
    print(f'-- {i}단 --')
    for j in range(1,10):
        print(f'{i} * {j} = {i*j:2}')
    print()

-- 2단 --
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

-- 3단 --
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

-- 4단 --
4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

-- 5단 --
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

-- 6단 --
6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

-- 7단 --
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

-- 8단 --
8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

-- 9단 --
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [72]:
# 2단   3단   4단   5단   6단   ......

In [75]:
for i in range(1,10):
    for j in range(2,10):
        print(f'{j} * {i} = {j*i:2}',end='   ')
    print()

2 * 1 =  2   3 * 1 =  3   4 * 1 =  4   5 * 1 =  5   6 * 1 =  6   7 * 1 =  7   8 * 1 =  8   9 * 1 =  9
2 * 2 =  4   3 * 2 =  6   4 * 2 =  8   5 * 2 = 10   6 * 2 = 12   7 * 2 = 14   8 * 2 = 16   9 * 2 = 18
2 * 3 =  6   3 * 3 =  9   4 * 3 = 12   5 * 3 = 15   6 * 3 = 18   7 * 3 = 21   8 * 3 = 24   9 * 3 = 27
2 * 4 =  8   3 * 4 = 12   4 * 4 = 16   5 * 4 = 20   6 * 4 = 24   7 * 4 = 28   8 * 4 = 32   9 * 4 = 36
2 * 5 = 10   3 * 5 = 15   4 * 5 = 20   5 * 5 = 25   6 * 5 = 30   7 * 5 = 35   8 * 5 = 40   9 * 5 = 45
2 * 6 = 12   3 * 6 = 18   4 * 6 = 24   5 * 6 = 30   6 * 6 = 36   7 * 6 = 42   8 * 6 = 48   9 * 6 = 54
2 * 7 = 14   3 * 7 = 21   4 * 7 = 28   5 * 7 = 35   6 * 7 = 42   7 * 7 = 49   8 * 7 = 56   9 * 7 = 63
2 * 8 = 16   3 * 8 = 24   4 * 8 = 32   5 * 8 = 40   6 * 8 = 48   7 * 8 = 56   8 * 8 = 64   9 * 8 = 72
2 * 9 = 18   3 * 9 = 27   4 * 9 = 36   5 * 9 = 45   6 * 9 = 54   7 * 9 = 63   8 * 9 = 72   9 * 9 = 81